spring:
  application:
    name: ai-codegen-microservice
  main:
    allow-circular-references: true

  profiles:
    active: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ai_codegen?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8

  # redis
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
      password:
      ttl: 3600

server:
  port: 8123
  servlet:
    context-path: /api

sa-token:
  token-name: satoken
  timeout: 2592000
  active-timeout: -1
  is-concurrent: false
  is-share: true
  token-style: uuid
  is-log: true

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.guochang.aicodegenmicroservice.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

# mybatis-plus
mybatis-plus:
  configuration:
    # MyBatis
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0
